* {
    margin: 0px;
    padding: 0px;
}

div {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: black;
    background-color: coral;
    font-size: medium;
    margin: 20px;
}
section  {
    margin-top: 20px;
    margin-left: 50px;
}